# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL=https://iiqnfmagxwbofgwkuopa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpcW5mbWFneHdib2Znd2t1b3BhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2Mzc1NDcsImV4cCI6MjA5NTIxMzU0N30.lqosIER52WhJy_G4Lgpigr4Fz9SayvHBPPARMQv6sQ4
